@import '../../styles/variables.css';

.information {
  position: absolute;
  top: 50%;
  z-index: 1000;
  margin-top: 1.5rem;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  color: var(--cl-primary);
  text-align: center;
  font-size: 20px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.infoHeader {
  color: var(--cl-secondary);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 0.5rem;
}

.infoText {
  font-size: 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .information {
    left: 50%;
    transform: translate(-50%, 20%);
    flex-direction: row;
    max-width: 1110px;
    padding-block: 2.25rem;
    text-align: left;
    gap: 0;
  }
  .informationBox {
    padding-inline: 2rem;
    width: 18rem;
  }
  .informationBox:not(:first-child) {
    border-left: 1px solid var(--cl-secondary);
  }
}
