@import '../../styles/variables.css';

.form {
  margin-top: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  display: flex;
}

.formBtn {
  border: none;
  background-color: #000;
  width: 3.5rem;
  height: 3.5rem;
}
.formBtn:hover,
.formBtn:focus {
  background-color: #3f3f3f;
}

.input {
  padding: 1.125rem 1.5rem;
  width: 100%;
  border: none;
}
.input:focus {
  outline: none;
}

@media (min-width: 768px) {
  .input {
    max-width: 500px;
    width: 500px;
  }
}
